# 1. CORE & SECURITY
NODE_ENV=production
CORS_ORIGINS=https://admin.mini-mart.dev,https://shop.mini-mart.dev
JWT_SECRET=

# 2. DATABASES (Supabase)
DATABASE_URL=postgresql://postgres:PASSWORD@db.PROJECT.supabase.co:5432/postgres
CATALOG_DB_URL=postgresql://postgres:PASSWORD@db.PROJECT.supabase.co:5432/postgres

# 3. CACHE & MESSAGE BROKER
REDIS_URL=redis://default:PASSWORD@ENDPOINT.cloud.redislabs.com:12869
RABBITMQ_URL=amqps://USER:PASSWORD@HOST.rmq.cloudamqp.com/VHOST

# 4. EXTERNAL SERVICES
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_API=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VNP_RETURN_URL=https://shop.mini-mart.dev/checkout/payment-result
VNP_TEST_MODE=true

# 5. AI / Chatbot
AI_MODEL_API_KEY=
